<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Estacionamento 24 horas - Nossos planos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Estacionamento 24 horas - Planos"> <!-- Descrição do site ou empresa -->
    <meta name="keywords" content="Estacionamento 24 horas, carros, motos, fácil acesso, planos"> <!-- Palavras chaves para encontrar sua página web -->
    <meta name="author" content="Samio Santos"> <!-- Nome da sua empresa ou autor do site -->
    <meta name="robots" content="index, follow"> <!-- controla o comportamento de rastreamento e indexação dos mecanismos de pesquisa. -->

    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./css/planos.css">

    <link href="fontawesome-free-5.13.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="fontawesome-free-5.13.0-web/css/brands.css" rel="stylesheet">
    <link href="fontawesome-free-5.13.0-web/css/solid.css" rel="stylesheet">
    
    <script src="./scripts/scripts.js" defer></script>
</head>


<body>
    <header>
        <img id="logo" src="./imagens/parkin.png" alt="Logo estacionamento">
        
        <nav>
            <ul>
                <li onmouseover="mudaFoto('imagens/casa.png')" onmouseout="mudaFoto('imagens/dinheiro.png')"><a href="./index.html"><i class="fas fa-home tm-nav-fa-icon"></i>Home</a></li>
                <li onmouseover="mudaFoto('imagens/service.png')" onmouseout="mudaFoto('imagens/dinheiro.png')"><a href="./serviços.html"><i class="fab fa-whmcs"></i>Serviços</a></li>
                <li onmouseover="mudaFoto('imagens/equipe.png')" onmouseout="mudaFoto('imagens/dinheiro.png')"><a href="./sobre.html"><i class="fas fa-users tm-nav-fa-icon"></i>Sobre</a></li>
                <li onmouseover="mudaFoto('imagens/dinheiro.png')" onmouseout="mudaFoto('imagens/dinheiro.png')"><a href="./planos.html"><i class="fas fa-hand-holding-usd"></i>Planos</a></li>
                <li onmouseover="mudaFoto('imagens/contato.png')" onmouseout="mudaFoto('imagens/dinheiro.png')"><a href="./contatos.html"><i class="fas fa-comments tm-nav-fa-icon"></i>Contatos</a></li>
            </ul>
        </nav>

        <p><span>Estacionamento 24 horas</span><br>Slogan da empresa aqui</p>
        <img id="parking" src="./imagens/dinheiro.png" alt="Placa de estacionamento">
    </header>

    <main>
        <h1>Conheça nossos planos</h1>
        <h2>Planos que encaixam no seu bolso</h2>

        <section class="container">
            <h3>Planos</h3>
            <div class="d1">

                <h4>Básico</h4>
                <p>
                    Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando um impressor desconhecido pegou uma galé do tipo e embaralhou para fazer um livro de amostra de tipos.
                </p>

                <img src="./imagens/parking.jpg" alt="Placa de estacionamento">
                <button>Contratar</button>

            </div>

            <div class="d2">
        
                <h4>Premium</h4>

                <p>
                    Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando um impressor desconhecido pegou uma galé do tipo e embaralhou para fazer um livro de amostra de tipos.
                </p>

                <img src="./imagens/parking.jpg" alt="Placa de estacionamento">
                <button>Contratar</button>
            </div>
            
        </section>
    </main>
    
    <footer>
        <section id="copyright">
            <h1>Direitos</h1>
            <p>Copyright &copy; - Todos os direitos reservados | Desenvolvidos por Samio Santos</p>
        </section>
    </footer>
</body>
</html>