@charset "UTF-8";


body {
    font-family: sans-serif;
}

h1 {
    font-size: 20px;
    margin: .6rem;
}

.contato {
    width: 95%;
    margin: .6rem;
}

.contato h2 {
    background-color: white;
    text-align: center;
    font-size: 15px;
}

form {
    margin: .4rem;
}

form label {
    margin: .6rem;
}

form input, textarea {
    width: 90%;
    height: 40px;
    margin: .6rem;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
}

form textarea {
    height: 80px;
    resize: vertical;
}

form input:valid,
form textarea:valid {
  border: 2px solid #a1e9c5;
}

button {
    width: 20%;
    background-color:#79bd9a;
    color: white;
    border: none;
    margin: .6rem;
    padding: .8rem;
    transition: 1s;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(21, 104, 21);
}

section h2 {
    background-color: rgba(245, 245, 245, 0.671);
    text-align: center;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
}

section p {
    text-indent: 70px;
    line-height: 2rem;
    word-wrap: break-word;
    text-align: justify;
    margin: 1rem;
}

.flex-container iframe#endereco {
    width: 100%;
    height: 320px;
}

@media only screen 
and (min-device-width : 568px) 
and (max-device-width : 1024px)  {

    .flex-container iframe#endereco {
        width: 100%;
        height: 320px;
    }
}

@media (min-width: 900px) {

    h1 {
        margin: 23px;
    }

    .contato {
        width: 90%;
        margin-left: 100px;

    }

    form textarea {
        height: 150px;
    }
    
    
    form button {
        width: 15%;
        cursor: pointer;
    }

    section#container {
        width: 81%;
        margin-left: 110px;
    }
    
    section#container h2 {
        background-color: white;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap; /* quebra a linha dos cards */
        align-content: center;
        justify-content: space-around;
    
    }

    .flex-container div {
        width: 30%;
        height: 320px;
        border: 2px solid whitesmoke;
        border-radius: 10px;
        margin: 10px;
        flex: 1 1 30%; /* define se os cards ficam na mesma linha */
        text-align: center;
    }

    .flex-container div#mapa {
        border: none;
    }
    .flex-container iframe#endereco {
        width: 100%;
        height: 320px;
        border-radius: 10px;
    }

   
}