@charset "UTF-8";


main h1 {
    margin: 1rem;
    font-size: 20px;
}

section h2 {
    background-color: rgba(245, 245, 245, 0.671);
    color: black;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
}

.content p {
    text-indent: 70px;
    line-height: 2rem;
    word-wrap: break-word;
    text-align: justify;
    margin: 1rem;
}

.content img {
    display: flex;
    margin: 0 auto;
}

@media (min-width: 900px) {
   
    .content {
        border: 3px solid whitesmoke;
        border-radius: 10px;
        margin: 10px;
    }
}